.contact_header {
    text-align: center;
    font-size: 40px;
    font-family: 'Nanum Pen Script', cursive;
    color: gray;
}
.contact_header h1 {
    margin-top: 0px;
    margin-bottom: 50px;
}
div#contact {
    position: relative;
    background-color: white;
    font-family: 'Nanum Pen Script', cursive;
    padding-top: 100px;
    width: 100%;
    text-align: center;
    height: 500px;
}

.portTxt {
    text-align: center;
}
.portTxt h2 {
    font-size: 30px;
}

.portTxt p {
    font-size: 25px;
}

.portTxt span{
    font-size: 40px;
    color:royalblue;
}

.portTxt > i{
    font-size: 40px;
    padding-left: 8px;
    padding-right: 8px;
    color: chocolate;
}
.portTxt > a {
    font-size: 22px;
}

.portTxt img {
    width: 400px;
    height: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width:768px){
    
}