.skill_header {
    text-align: center;
    font-size: 40px;
    font-family: 'Nanum Pen Script', cursive;
    color: gray;

}
div#skill_container {
    position: relative;
    background-color: white;
    font-family: 'Nanum Pen Script', cursive;
    padding-top: 20px;
    width: 100%;
}

.skill_header h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skil_content p{
    font-size: 25px;
}

.skill_html5 img {
    width: 100px;
    height: 100px;   
}
.skill_css3 img {
    width: 100px;
    height: 100px;   
}
.skill_javascript img {
    width: 100px;
    height: 100px;   
}
.skill_jquery img {
    width: 100px;
    height: 100px;   
}
.skill_oracle img {
    width: 100px;
    height: 100px;   
}
.skill_spring img {
    width: 100px;
    height: 100px;   
}
.skill_ajax img {
    width: 100px;
    height: 100px;   
}
.skill_java img {
    width: 100px;
    height: 100px;   
}
.skill_react img {
    width: 100px;
    height: 100px;   
}

#skill_container {
    text-align: center;
}
.skil_content {
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
}
.skil_content > div{
    padding-top: 50px;
    display: inline-block;
    width: 30%;
    text-align: -webkit-center;
    
}

@media screen and (max-width:768px){
    .skil_content {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0px;
        padding-right: 0px;
    }

    .skil_content > div {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0px;
    }
}